/** {
  box-sizing: border-box;
}*/

body,html{
	margin: 0 ;
	height: 100%;
	background-color: #1a1818;
	color: white;
}

h1,h2,h3,h4,h5{
	color: #ffae00;
	font-family: 'Lora' , sans-serif;
}

/*The Navigation Section*/

.nav-bar{
	text-align: center;
/*	background-color: #004700;
	height: 50px;*/
}

/*The Navigation Section*/

/*Hero Section*/

.hero-section {
  background-color: green;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {

}


/*Hero Section*/

/*History Section*/
.history{
	border:1px solid green;
}
/*.history ul{
	list-style-type: none;
	margin:0px;
	padding-left:20px; 
}

.history li {
  list-style-type: none;
  position: relative;
  padding-left: 10px;
}
.history li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}*/
/*History Section*/
 
/*Blog Section*/

/** {
  box-sizing: border-box;
}
*/
/*Left Column*/
.leftcolumn{
	float:left;
	width:75%;
/*	border:1px solid red;
*/}

.fakeimg {
  background-color: #8ca1c5;
  width: 95%;
  height:450px;
  margin: 20px;
}

.card h2{
	margin-left: 20px;
	display: block;
}

.text{
	margin:20px;
	display: block;
	text-align: justify;
}

.leftcolumn1{
	float: left;
	width:50%;
/*	border:1px solid red; 
*/
}
.leftcolumn2{
	float: left;
	width:50%;
/*	border:1px solid blue; 
*/}
.leftcolumn2 p{
	margin: 20px;
	display:block;
	text-align: justify;
}
.fakeimg1{
	background-color: #8ca1c5;
	width: 95%;
	margin: 20px;
	height:460px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Left Column*/

/*Right Column*/
.rightcolumn{
	float: left;
	width:25%;
	/*border: 1px solid pink;*/
}
.topics{
	margin-left: 20px;
	/*border: 1px solid green;*/
}
.topics-title{
	margin: 20px;
}

.topics ul{
	list-style: none;
	margin:20px;
	padding: 0px;
}

.topics ul li {
	display: block;
	padding: 10px 0px 10px 0px;
}

.topics a{
	text-decoration: none;
	color: white;
}

.topics a:hover{
	color: #ffae00;
	padding-left: 10px;
	transition: all 0.3s;
}

.news{
	margin-left: 20px;
	/*border:1px solid yellow;*/
}
.news-title{
	margin:20px;
}

.news a{
	text-decoration: none;
	color: white;
}
.news a:hover{
	color: #ffae00;
}
.news p{
	margin:20px;
	display: block;
}
.fakeimg2{
	background-color: #8ca1c5;
	width: 80%;
	margin: 20px;
	height:300px;
}

.categories{
	margin-left: 20px;
	/*border:1px solid brown;*/
}
.categories-title{
	margin: 20px;
}
.categories ul{
	list-style: none;
	margin:20px;
	padding: 0px;
}
.categories ul li {
	display: block;
	padding: 10px 0px 10px 0px;
}

.categories a{
	text-decoration: none;
	color: white;
}

.categories a:hover{
	color: #ffae00;
	padding-left: 10px;
	transition: all 0.3s;
}

.pagination {
	display: inline-block;
	margin:20px;
}
.pagination a {
	background-color: #ffae00;
	color:black;
	float: left;
	border: 1px solid #ffae00;
	text-decoration: none;
	padding: 15px 15px;
	margin: 0 5px;
}
.pagination .arrow  {
	padding: 13.5px 13.5px;
}

/*Right Column*/

/*Blog Section*/

/*Media Queries*/

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .leftcolumn1, .leftcolumn2{
  	width: 100%;
  	padding: 0;
  }

  .leftcolumn2 p {
	font-size: 1em!important;
	padding: 0px!important;
	}
}

@media screen and (max-width: 400px) {
	.fakeimg{
		margin: 10px;
	}

	.fakeimg1{
		margin: 10px;
	}

	.pagination {
		margin: 0px;
	}

}

@media screen and (max-width: 1250px) {
	.leftcolumn2 p {
		font-size: 0.8em;
		padding-bottom:20px;
	}
	.fakeimg1{
		margin: 10px;
	}
}
/*Media Queries*/